body #root {
  max-width: 100%;
  margin: 0;
  padding: 0;
}

body {
  max-width: 100%;
  margin: 0;
  padding: 0;
}
.mainContoiner{
  display:flex;
  flex-direction:row;
}
.rightContainer{
  width:40%;
  display:flex;
  flex-direction:column;
   box-sizing: border-box;
}
@media (max-width: 768px) {
    .rightContainer{
      width:100%;
    }
    .mainContoiner{
      flex-direction:column;
      box-sizing: border-box;
      justify-items:center; 
      align-items:center;
      margin:0 10px;
    }
}