.container{
    display: flex;
    flex-direction:column;
    margin:10px;
    align-items:center;
    width:60%;
    border: solid 3px #b8b0b0;
    height: fit-content;
}
.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    position: relative;
}
.createButton{
    display: none;
    background-color: #7c7575;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 8px;
    margin: 10px auto;
    cursor: pointer;
    font-weight: bold;
}
.line{
    width:90%;
    height:2px;
    background-color: #b8b0b0;
    margin-top: 10px;
}
.services{
    width:100%;
    color: #7c7575;
}
.list{
    list-style-type: none;
    padding-inline-start: 0px;
    width:80%;
    flex-wrap: wrap;
    display: flex;
    gap: 15px;
}
.item{
    overflow-wrap: break-word;
    width: calc(33.33% - 10px);
    display:flex;
    justify-content:space-between;
    margin-bottom:10px;
    gap:10px;
    padding:10px;
    border-bottom:1px solid #b8b0b0; 
    flex-direction: column;
    box-sizing: border-box;
}
.info{
    color: #7c7575;
    width:80%;
}
.buttons{
    display:flex;
    flex-direction:column;
    gap:8px;
    margin-top: auto;
}

.deleteButton {
  background-color: #e57373;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.deleteButton:hover {
  background-color: #d32f2f;
}

.buttonArchive {
  overflow-wrap: break-word;
  background-color: #dfd3d3;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.buttonArchive:hover {
  background-color: #7c7575;
}

.modalDelete{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 70;
}
.modalContent {
  background-color: #fff;
  padding: 20px 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.modalButtonsDelete {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.modalButtonsDelete button {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.modalButtonsDelete button:first-child {
  background-color: #e53935;
  color: white;
}

.modalButtonsDelete button:last-child {
  background-color: #90a4ae;
  color: white;
}

.createButtonMobile {
      display:none;
}

@media (max-width: 1024px) {
    .createButton {
          display: block;
    }
    .container {
        width: 100%;
         box-sizing: border-box;
    }
    
    .item {
        width: calc(50% - 10px);
    }
    .createButtonMobile {
      display:none;
    }
}
@media (max-width: 768px) {
  .container {
        width: 100%;
        box-sizing: border-box;
    }
    
    .headerContainer {
          flex-direction: column;
          gap: 10px;

    }
    .services {
        text-align: center;
        width: 100%;
    }
    .createButton {
        display: none;
    }
    
    .createButtonMobile {
        display: block;
        background-color: #7c7575;
        color: white;
        border: none;
        padding: 10px 16px;
        border-radius: 8px;
        cursor: pointer;
        font-size: 14px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        width: 100%;
        margin-bottom: 10px;
    }
    .item {
        width: 100%;
    }
    
    .rightContainer {
        flex-direction: column;
    }
    .list{
      padding:0 10px;
    }  
}