.headerСontainer {
  display: flex;
  background-color: #dfd3d3;
  align-items: center; 
  justify-content: center; 
  height: 50px;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.headerTitle {
  color: #7c7575;
  font-size: 28px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .headerСontainer {
    height: 40px;
  }
  
  .headerTitle {
    font-size: 20px;
  }
}